<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-list class="header-navigation">
    <a class="nav-link" routerLinkActive="nav-link-active" routerLink="lfguild"><strong>LFGuild</strong></a>
    <a class="nav-link" routerLinkActive="nav-link-active" routerLink="character">Markiert</a>
    <!-- <a class="nav-link" routerLinkActive="nav-link-active">Anschreiben</a>
    <a class="nav-link" routerLinkActive="nav-link-active">Testraid</a>
    <a class="nav-link" routerLinkActive="nav-link-active">wurde Abgelehnt</a>
    <a class="nav-link" routerLinkActive="nav-link-active">hat Abgelehnt</a>
    <a class="nav-link" routerLinkActive="nav-link-active">Alle</a> -->
  </mat-list>
</mat-toolbar>
<router-outlet></router-outlet>